<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flexiumwarranty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>542E54A81DD4121700B63E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>542E54C11DD4121800B63E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>542E54CC1DD4121800B63E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
